[class="css-1avcm0n e8zbici2"]{
    background-color: #0C134F;
}

[data-testid="stAppViewContainer"]{
    background-color: #0C134F;
}


[class="css-10trblm eqr7zpz0"]{
    color: #D4ADFC;
}

[src="http://localhost:8501/media/86c7aa9217e8f22a2e373cb6d755931e51896dcc52d181d8875ffabd.png"]{
    width: 200px;
    
}

[class="css-10trblm e16nr0p30"]{
    font-size: 34px;
}

[class="css-1r6slb0 e1tzin5v2"]{
    width: 0px;
}

[id=tabs-bui2-tab-0]{
    background-color: #0C134F;
    color: #ffffff;
}

[id=tabs-bui2-tab-1]{
    background-color: #0C134F;
    color: #ffffff;
}

[id=tabs-bui2-tab-2]{
    background-color: #0C134F;
    color: #ffffff;
}

[class='css-183lzff eyqtai90']{
    color: #ffffff;
}


[class="css-1fv8s86 e16nr0p34"]{
    color: #ffffff;
}

[data-testid="stText"]{
    color:#ffffff;
}


[class="viewerBadge_container__r5tak styles_viewerBadge__CvC9N"]{
    visibility: hidden;
}

[data-testid="stToolbar"]{
    visibility: hidden;
}

footer{
    visibility: hidden;
}

#MainMenu {
    visibility: hidden;
}

